/* Theme stuff */
:root {
  --theme-border-radius: .5em;
  --theme-foreground: rgba(255, 255, 255, 0.87);
  --theme-background: #242424;
  --theme-background-2: #1a1a1a;
  --theme-background-3: #000;
  --theme-gradient-bg1: rgba(200, 200, 200, 0.2);
  --theme-gradient-bg2: rgba(200, 200, 200, 0.4);
  --theme-gradient-fg1: rgba(0, 0, 0, 0.6);
  --theme-gradient-fg2: rgba(0, 0, 0, 0.8);
  --theme-gradient-background: linear-gradient(to bottom, var(--theme-gradient-bg1), var(--theme-gradient-bg2));
  --theme-hover-opacity-on: 0.9;
  --theme-hover-opacity-off: 0.9;

  --theme-link: #646cff;
  --theme-link-hover: #535bf2;
}

@media (hover: hover) {
  :root {
    --theme-hover-opacity-on: 0.9;
    --theme-hover-opacity-off: 0.3;
  }
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--theme-foreground);
  background-color: var(--theme-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--theme-link);
  text-decoration: inherit;
}
a:hover {
  color: var(--theme-link-hover);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

input {
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
}
input[type="text"] {
  padding: 0.25em .5em;
  flex-grow: 2;
}
input[type=checkbox] {
  width: 1.2em;
  height: 1.2em;
}

.btn,
button {
  text-align: center;
  border-radius: var(--theme-border-radius);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--theme-foreground);
  background-color: var(--theme-background-2);
  cursor: pointer;
  transition: border-color 0.25s;
}
.btn:hover,
.btn:active,
button:hover,
button:active {
  border-color: var(--theme-link);
  color: var(--theme-foreground);
}
.btn:focus,
.btn:focus-visible,
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.dragging {
  cursor: grabbing;
}

.vstack {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1em;
}

.hstack {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}